@font-face {
    font-family: 'Humane Bold';
    src: url('../Humane-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
        font-family: Arial, sans-serif;
        background-color: #0b0b0b;
        color: #222;
        margin: 40px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
}

img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 10px auto;
}

footer {
        text-align: center;
        margin-top: 50px;
        padding: 20px;
        background: #222222;
        color: #f3dede;
}


.toplinceimg {
    max-width: 100%; 
    height: clamp(0.5ex, 20ex, 3ex);
}

/*clamp(min, preferred, max)*/
.h1 {
    margin-top: 10px;
    font-family: 'Humane Bold', Arial, sans-serif;
    font-size: clamp(3vw, 9vw, 18vw);
    text-align: center;
    color: #f3dede;
}

.h2{
    font-family: sans-serif;
    font-size: clamp(1.5vw, 4.5vw, 9vw);
    text-align: center;
    color: #f3dede;
    margin-top: 3vw;
    margin-bottom: 40px;
}

.h3 {
    font-family: sans-serif;
    font-size: clamp(1.1vw, 2.25, 4.5vw);
    color: #db0400;
    margin-top: 3vw;
    margin-bottom: 10px;
    text-align: center;
}

.paragraf {
    font-size: clamp(1vw, 3vw, 2.25vw);
    line-height: 1.6;
    color: #f3dede;
    text-align: justify;
    margin: 10px 0;
}

.gallery {
  display: flex;
  gap: 10px; /* odstęp między obrazkami */
  justify-content: center; /* wyśrodkuj w poziomie */
  align-items: center; /* wyrównaj w pionie */
}

.gallery {
  display: flex;
  flex-direction: row;   /* układ od lewej do prawej */
  justify-content: flex-start; /* obrazki od lewej */
  gap: 10px;
  overflow-x: auto;
  padding: 10px;
  scrollbar-width: thin;
  scroll-behavior: smooth; /* płynne przewijanie */
}


.gallery img {
  max-width: 50vw;  /* szerokość obrazków */
  height: auto;
  flex-shrink: 0;    /* NIE pozwala obrazkom się zwężać */
  border-radius: 8px;
}

.line {
    border-top: 2px solid #f3dede;
    margin: 40px 0;
    margin-top: auto;
    margin-bottom: auto;
}

.list {
    list-style-type: none; /* usuwa domyślne punkty listy */
    padding: 0;
    display: flex;
    gap: 20px; /* odstęp między elementami listy */
    justify-content: center; /* wyśrodkuj w poziomie */
}

.box {
  display: flex;
  align-items: center;     /* wyrównanie w pionie */
  justify-content: space-between; /* tekst po lewej, obrazek po prawej */
  gap: 20px;               /* odstęp między tekstem a obrazkiem */
}

.imgIE {
  max-width: 100%;
  height: clamp(5ex, 30ex, 15ex);
}

.box2 {
  display: flex;
  align-items: center;  /* wyrównanie w pionie */
  justify-content: flex-start; /* elementy ustawiają się w jednym rzędzie od lewej */
  gap: 20px;            /* odstęp między tekstem a obrazkiem */
}

.imgPLAK {
  max-width: 100%;
  height: clamp(5ex, 30ex, 15ex);
}

.box3 {
  display: flex;
  align-items: center;      /* wyrównanie w pionie */
  justify-content: flex-start; /* wszystkie elementy od lewej */
  gap: 20px;                /* odstęp między obrazkiem a tekstem */
}

.imgCar {
  max-width: 150px;         /* ogranicz rozmiar obrazka */
  height: auto;             /* zachowaj proporcje */
}



